body{
    background-size: cover;
background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas{
    border-radius: 10px;
}

@keyframes example{
    0%{box-shadow: 1px 1px 30px rgb(255, 23, 101); }
     20%{ box-shadow: 1px 1px 30px darkorange;}
     40%{ box-shadow: 1px 1px 30px yellow;}
     65%{ box-shadow: 1px 1px 30px green;}
     85%{ box-shadow: 1px 1px 30px cyan;}
     100%{ box-shadow: 1px 1px 30px purple;}
     
 
 }